<div class="container">
  <!-- Exibição das disciplinas, se houver um curso selecionado -->
  <div class="list-monitor">
    <h3>Monitores</h3>
    @if (userRole === 'PROFESSOR') {
      <button class="rec-btn" (click)="openRecomendationModal()">Recomendar Monitoria</button>
      @if (isModalOpen) {
        <app-recomendation-modal
        (cancel)="clickCancel($event)"
        [disciplineId]="disciplineId"
        [disciplineTerm]="disciplineTerm"
        [disciplineCourse]="disciplineCourse"></app-recomendation-modal>
      }
    }
    <hr />

    <!-- Cabeçalho da tabela -->
    <div class="monitors-header">
      <span>Foto</span>
      <span>Nome</span>
      <span>Horario</span>
      <span>Prédio</span>
      <span>Sala</span>
      <span>Status</span>
      <span>Ação</span>
    </div>

    <!-- Lista de cards estilizados -->
    <ul class="monitors">
      @if (loadingTutors) {
      <app-loading></app-loading>
      } @else if (tutors.length > 0) { @for (tutor of tutors; track tutor.ra) {
      <li>
        <app-tutor [tutor]="tutor" [disciplineId]="disciplineId"></app-tutor>
      </li>
      } } @else {
      <li class="no-monitors">
        <p>Não há monitores disponíveis para esta disciplina.</p>
      </li>
      }
    </ul>
  </div>
</div>
