<div class="container">
    <ul>
        @for (comment of post.comments; track comment.createdAt) {
            <li>
                <div class="comment-header">
                    <p>{{ comment.userName }}</p>
                    <p>{{ comment.createdAt }}</p>
                    <p>{{ comment.userRole }}</p>
                </div>
                <div class="comment-content">
                    <p>{{ comment.content }}</p>
                </div>
                <button class="like-btn" type="button">{{ comment.likes }}</button>
            </li>
        }
    </ul>
</div>
