<div class="container">
  <div class="tutors-container">
    <app-back-button></app-back-button>
    <h1 class="title">Matérias</h1>

    <table class="subject-table" *ngIf="groupedData.length; else noData">
      <thead>
        <tr>
          <th>Matéria</th>
          <th>Curso</th>
          <th>Escola</th>
          <th>Monitores</th>
          <th>Candidatos</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let school of groupedData">
          <ng-container *ngFor="let course of school.courses">
            <ng-container *ngFor="let subject of course.subjects">
              <tr>
                <td>{{ subject.name }}</td>
                <td>{{ course.name }}</td>
                <td>{{ school.name }}</td>
                <td>{{ subject.tutors.join(', ') || '—' }}</td>
                <td>{{ subject.candidates.join(', ') || '—' }}</td>
                <td>
                  <button class="btn-access">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                  </button>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>

    <ng-template #noData>
      <p>Não há matérias cadastradas para este professor.</p>
    </ng-template>
  </div>
</div>
