<div class="container">
  <!-- Exibição das disciplinas, se houver um curso selecionado -->
  <div class="manage-container">
    <h3>Disciplinas</h3>
    <hr />

    <!-- Cabeçalho da tabela -->
    <div class="discipline-header">
      <span>ID</span>
      <span>Nome</span>
      <span>Professor</span>
      <span>Período</span>
      <span>Ações</span>
    </div>

    <!-- Lista de cards estilizados -->
    <ul class="disciplines">
      @if (loadingDisciplinas) {
      <li class="loading">Carregando disciplinas...</li>
      } @else {
      <li *ngFor="let disciplina of subjects; trackBy: trackBySubject">
        <app-discipline
          [cursoId]="courseId"
          [discipline]="disciplina"
        ></app-discipline>
      </li>
      }
    </ul>
  </div>
</div>
