<div class="container">
  <!-- Exibição das disciplinas, se houver um curso selecionado -->
  <div class="manage-container">
    <app-back-button></app-back-button>
    <h3>Matérias</h3>
    <hr />

    <!-- Cabeçalho da tabela -->
    <div class="discipline-header">
      <span>ID</span>
      <span>Nome</span>
      <span>Professor</span>
      <span>Período</span>
      <span>Ações</span>
    </div>

    <!-- Lista de cards estilizados -->
    <ul class="disciplines">
      @if (loadingDisciplinas) {
      <app-loading class="loading"></app-loading>
      } @else if (list.length == 0) {
      <li class="loading">Nenhuma matéria encontrada.</li>
      } @else { @for (subject of subjects; track subject) {
      <li>
        <app-discipline
          [cursoId]="subject.id"
          [discipline]="subject"
        ></app-discipline>
      </li>
      } }
    </ul>
  </div>
</div>
