.header {
  width: 100%;
  height: 10vh;
  color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  filter: drop-shadow(0px 0px 0.25rem rgb(0, 0, 0));
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  .logout {
    position: relative;
    // width: 20vw;
    z-index: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 2.8vh;
    display: flex;
    .name {
      cursor: pointer;
    }
    .text {
      margin-left: 10px;
    }
    img {
      height: 8vh;
      margin: auto;
      margin-top: 5px;
      cursor: pointer;
    }
  }
}

.inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #5301ea,
    #56d8e4,
    #5301ea
  );
  transition: all 0.6s;
  z-index: 1;
}

.header:hover .inner {
  left: 0;
}

.header .logo {
  position: relative;
  width: 20vw;
  height: 100vh;
  z-index: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.text {
  position: relative;
  width: auto;
  cursor: pointer;
}

svg {
  margin-left: 3px;
  vertical-align: middle;
}

.logo img {
  height: 8vh;
  margin: auto;
  margin-top: 5px;
  cursor: pointer;
}

.name{
  margin-right: 10px;
  cursor: pointer;
}