<div class="container">
  @for (tutor of tutors; track tutor.ra + tutor.disciplina) {
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ tutor.disciplina }}
        </mat-panel-title>
        <mat-panel-description>
          {{ tutor.nome }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <div class="info-section aluno-materia">
          <h2 class="field-label">Aluno</h2>
          <span class="field-value">{{ tutor.nome }} - {{ tutor.ra }}</span>
          <p>|</p>
          <h2 class="field-label">Matéria</h2>
          <span class="field-value">
            {{ tutor.disciplina }} - Engenharia de Software
          </span>
          <p>|</p>
          <h2 class="field-label">Remuneração</h2>
          @if(tutor.remuneracao){
          <span class="field-value">Sim</span>
          }@else {
          <span class="field-value">Não</span>
          }
          <p>|</p>
          <h2 class="field-label">Carga-Horária (h)</h2>
          <span class="field-value">{{ tutor.cargaHoraria }}</span>
        </div>
        <div class="info-section">
          <h2 class="field-label">Justificativa/Motivação</h2>
          <p class="field-value">
            {{ tutor.mensagem }}
          </p>
        </div>
      </div>

      <mat-action-row class="action-buttons">
        <button (click)="sendResult(2, tutor.uid)" class="reject-btn">Reprovar</button>
        <button (click)="sendResult(1, tutor.uid)" class="approve-btn">Aprovar</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  }
</div>
