<div class="backdrop">
    <div class="modal-container">
        <div class="modal-header">
            <h2>Adicione tópicos à matéria</h2>
        </div>

        <div class="modal-body">
            <div class="input-section">
                <label for="topic-input">Adicione seus tópicos aqui:</label>
                <input [(ngModel)]="typedTopic" type="text" id="topic-input" name="topics">

                <button class="add-btn" (click)="addTopic(typedTopic)">Adicionar</button>
            </div>
            
            <div class="topic-list">
                @for(topic of topics; track $index) {
                    <span class="topic">{{ topic }}</span>
                    <button class="remove-button" (click)="removeTopic(topic)">X</button>
                }
            </div>

            <div class="actions">
                <button class="cancel-button" (click)="cancelModal()">Cancelar</button>
                <button class="save-button approve-button" (click)="saveTopics()">Salvar</button>
            </div>
        </div>
    </div>
</div>
