<div class="container">
    <!-- <h2>Selecione a escola e o curso</h2> -->
    <div class="wrapper"><div class="dropdown-container">
        <mat-form-field class="dropdown" appearance="outline">
            <mat-label>Escola</mat-label>
            <mat-select (selectionChange)="onSelectEscola($event.value)">
                @for (escola of escolas; track escola){
                    <mat-option [value]="escola.escolaId">{{escola.name}}</mat-option>
                } 
            </mat-select>
        </mat-form-field>
        <mat-form-field class="dropdown" appearance="outline">
            <mat-label>Curso</mat-label>
            <mat-select (selectionChange)="onSelectCurso(curso.cursoId)">    
                @for (curso of cursosAparentes; track curso.cursoId){
                    <mat-option [value]="curso.escolaId === selectedEscolaId">{{curso.name}}</mat-option>
                } 
            </mat-select>
        </mat-form-field>
    </div>

    <button class="load-courses" (click)="onLoadCourses()">Carregar matérias</button>
    
    <div class="manage-container">
        <!-- @if (selectedCurso) {
            @for (disciplina of disciplinasAparentes; track disciplina.id) {
                <ul class="disciplines">
                    <li>
                        <app-discipline [cursoId]="selectedCursoId" [discipline]="disciplinasAparentes"/>
                    </li>
                </ul>
            }
        } -->
         
    </div>
</div>