<div class="container">
    <!-- <h2>Selecione a escola e o curso</h2> -->
    <div class="wrapper"><div class="dropdown-container">
        <mat-form-field class="dropdown" appearance="outline">
            <mat-label>Escola</mat-label>
            <mat-select (selectionChange)="onSelectEscola($event.value)">
                @for (escola of escolas; track escola){
                    <mat-option [value]="escola.escolaId">{{escola.name}}</mat-option>
                } 
            </mat-select>
        </mat-form-field>
        <mat-form-field class="dropdown" appearance="outline">
            <mat-label>Curso</mat-label>
            <mat-select>    
                @for (curso of cursosAparentes; track curso.cursoId){
                    <mat-option [value]="curso.escolaId === selectedEscolaId">{{curso.name}}</mat-option>
                } 
            </mat-select>
        </mat-form-field>
    </div></div>
    <div class="manage-container">
        <ul class="disciplines">
            @for (discipline of disciplines; track discipline.id) {
                <li>
                    <app-discipline [discipline]="discipline" />
                </li>
            }
        </ul>
    </div>
</div>