<div class="backdrop" (click)="confirmCancel()"></div>
<dialog open>
  <form (ngSubmit)="onPost()">
    <p>
      <label for="title">Título do post</label>
      <input
        id="title"
        type="text"
        name="title"
        [(ngModel)]="enteredTitle"
        required
      />
    </p>

    <p>
      <label for="content">Conteúdo do post</label>
      <textarea
        id="content"
        name="content"
        [(ngModel)]="enteredContent"
        rows="5"
        required
      ></textarea>
    </p>

    <button type="button" (click)="onSelectAttach()">Anexar</button>

    @if (isAttaching) {
      <div class="attachments">
        <!-- URLs do YouTube -->
        <label>
          Anexar vídeo do YouTube
          <button type="button" (click)="addYoutubeUrl()">+</button>
        </label>
        @for (url of videos; let i = $index; track url) {
          <div class="youtube-input-row">
            <button type="button" (click)="removeYoutubeUrl(i)">X</button>
            <input
              type="url"
              [name]="'url' + i"
              [(ngModel)]="videos[i]"
              placeholder="https://"
              class="youtube"
            />
          </div>
        }

        <!-- Arquivos gerais -->
        <input #fileInput type="file" (change)="onFileSelected($event)" hidden />
        <label>
          Anexar arquivos
          <button type="button" (click)="fileInput.click()">+</button>
        </label>
        <ul>
          @for (file of files; let i = $index; track file) {
            <li>
              {{ file.name }}
              <button type="button" (click)="removeFile(i)">X</button>
            </li>
          }
        </ul>

        <!-- Imagens -->
        <input
          #imageInput
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
          hidden
        />
        <label>
          Anexar imagens
          <button type="button" (click)="imageInput.click()">+</button>
        </label>
        <ul>
          @for (image of images; let i = $index; track image) {
            <li>
              {{ image.name }}
              <button type="button" (click)="removeImage(i)">X</button>
            </li>
          }
        </ul>
      </div>
    }

    <p class="actions">
      <button type="button" (click)="confirmCancel()">Cancelar</button>
      <button type="submit" [disabled]="isSending">Postar</button>
    </p>
  </form>
</dialog>
