<div class="container">

  <!-- Exibição das disciplinas, se houver um curso selecionado -->
  <div class="list-monitor">
    <h3>Monitores</h3>
    <hr />

    <!-- Cabeçalho da tabela -->
    <div class="monitors-header">
      <span>Foto</span>
      <span>Nome</span>
      <span>Horario</span>
      <span>Prédio</span>
      <span>Sala</span>
      <span>Status</span>
      <span>Ação</span>
    </div>

    <!-- Lista de cards estilizados -->
    <ul class="monitors">
      @if (monitors.length > 0) {
        @for (monitor of monitors; track monitor.ra) {
        <li>
          <app-monitors [monitor]="monitor"></app-monitors>
        </li>
        }
      } @else {
      <li class="no-monitors">
        <p>Não há monitores disponíveis para esta disciplina.</p>
      </li>
      }
    </ul>
  </div>

</div>