<div class="container">
  
    <!-- Exibição das disciplinas, se houver um curso selecionado -->
    <div class="list-monitor">
      <h3>Monitores</h3>
      <hr />
    
      <!-- Cabeçalho da tabela -->
      <div class="monitors-header">
        <span>Foto</span>
        <span>Nome</span>
        <span>Horario</span>
        <span>Prédio</span>
        <span>Sala</span>
        <span>Status</span>
      </div>
    
      <!-- Lista de cards estilizados -->
      <ul class="monitors">
        @for (monitor of monitors; track monitor.ra) {
          <li>
            <app-monitors></app-monitors>
          </li>
        }
      </ul>
    </div>
    
  </div>
  