<div class="modal-container">
    <div class="info">
        <h4>Observação de mudança de vagas. Sei lá se vira aí Marcos</h4>

        <span>Quantidade de monitores atuais: {{ discipline.currentMonitors }} </span>
        <span>Quantidade total de vagas atuais: {{ discipline.monitors }}</span>
        
        <label for="request-quantity">Defina quantas vagas quer requisitar: </label>
        <input type="number" id="request-quantity" name="request-quantity" max="10" [(ngModel)]="requestQuantity">
    </div>
    <div class="action">
        <button class="cancel-button" (click)="cancelModal()">Cancelar</button>
        <button class="approve-button" (click)="sendRequest()">Confirmar</button>
    </div>
</div>
