<div class="container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ request.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ request.professor }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="panel-content">
          <div class="info-section requisicao-materia">
            <h2 class="field-label">Professor</h2>
            <span class="field-value">{{ request.professor }}</span>
            <p>|</p>
            <h2 class="field-label">Matéria</h2>
            <span class="field-value">
              {{ request.name }}
            </span>
            <p>|</p>
            <h2 class="field-label">Quantidade da requisição: </h2>
            <span class="field-value">{{ request.requestQuantity }}</span>
            <p>|</p>
            <h2 class="field-label">Quantidade de vagas totais para monitores: </h2>
            <span class="field-value">{{ request.monitors }}</span>
          </div>
          <div class="info-section">
            <h2 class="field-label">Quantidade de monitores: </h2>
            <p class="field-value">
              {{ request.currentMonitors }}
            </p>
          </div>
        </div>

        <mat-action-row class="action-buttons">
          <button
            (click)="sendResult(0, request.id, request.requestQuantity)"
            class="reject-btn"
            [disabled]="loadingResult"
          >
            Reprovar
          </button>
          <button
            (click)="sendResult(1, request.id, request.requestQuantity)"
            class="approve-btn"
            [disabled]="loadingResult"
          >
            Aprovar
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
</div>
