#container {
    width: 100%;
    height: 95vh;
    align-content: center;
}

ul {
    padding: auto;
    display: flex;
    justify-content: space-evenly;
}

li{
    background-color: red;
    cursor: pointer;
    list-style: none;
}