<div id="container">
    <ul>
        <li>
            <a href="#">
                <div id="item_button">
                    <img src="assets/gosling.jpg" alt="Ryan Gosling.">
                    <p>Acessar</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div id="item_button">
                    <img src="assets/gosling.jpg" alt="Ryan Gosling.">
                    <p>Acessar</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div id="item_button">
                    <img src="assets/gosling.jpg" alt="Ryan Gosling.">
                    <p>Acessar</p>
                </div>
            </a>
        </li>
    </ul>
</div>

