<div class="container">
    <div class="manage-container">
        <app-back-button></app-back-button>
        <h3>Matérias</h3>
        <hr />

            <!-- Cabeçalho da tabela -->
        <div class="discipline-header">
        <span>ID</span>
        <span>Nome</span>
        <span>Curso</span>
        <span>Monitores</span>
        <span>Ações</span>
        </div>

        <!-- Lista de cards estilizados -->
        <ul class="disciplines">
        @if (loadingDisciplinas) {
        <li class="loading">Carregando matérias...</li>
        } @else {
        <li *ngFor="let disciplina of subjects; trackBy: trackBySubject">
            <app-discipline
            [cursoId]="courseId"
            [discipline]="disciplina"
            ></app-discipline>
        </li>
        }
        </ul>
    </div>
</div>