<!-- Backdrop -->
<div class="backdrop" (click)="cancelModal()">
  <!-- Modal -->
  <div class="modal-container" (click)="$event.stopPropagation()">
    <!-- Cabeçalho Roxo -->
    <div class="modal-header">
      <h2>Recomendar monitor</h2>
    </div>

    <!-- Corpo -->
    <div class="modal-body">
        <p>
            Selecione o aluno
        </p>
        <ng-select class="select" 
          placeholder="Selecione um estudante" 
          [(ngModel)]="selectedStudent"
          >
            @for (student of students; track student.uid) {
                <ng-option class="option" [value]="student">{{student.nome}}</ng-option>
            }
        </ng-select>
        <p>
            RA do aluno selecionado:
            <span class="student-ra">{{ selectedStudent?.ra }}</span>
        </p>
    </div>

    <!-- Ações -->
    <div class="modal-actions">
      <button class="cancel-button" (click)="cancelModal()">Cancelar</button>
      <button class="approve-button" (click)="confirmAndClose()">Confirmar</button>
    </div>
  </div>
</div>
